.DS_Store
*.log
SubnauticaMoreCoop-Setup.exe
installer.nsi.tmp
installer.nsi.bom
installer.nsi.fresh
installer.nsi.utf16

# C# build output
manager-app/bin/
manager-app/obj/
manager-app/publish/
*.user
